<h3>What's Your Opinion?</h3>


<%= form_for @visitor do |v| %>

<p>
    <%= v.label :opinion %>
    <%= v.text_field :title %><br><br>
  </p>
 
  <p>
    <%= v.label "Reasons (up to 5)" %>
    <%= v.text_field :text , :placeholder => "Reason One" %>
    <input type="number" min="0" max="100" step="1.0" value="50" name="reason">
  </p>

  <p>
    <%= v.text_field :text , :placeholder => "Reason Two" %>
    <input type="number" min="0" max="100" step="1.0" placeholder: "Percentage" name="reason">
  </p>

  <p>
    <%= v.text_field :text , :placeholder => "Reason Three" %>
    <input type="number" min="0" max="100" step="1.0" value="50" name="reason">
  </p>

  <p>
    <%= v.text_field :text , :placeholder => "Reason Four" %>
    <input type="number" min="0" max="100" step="1.0" value="50" name="reason">
  </p>

  <p>
    <%= v.text_field :text , :placeholder => "Reason Five" %>
    <input type="number" min="0" max="100" step="1.0" value="50" name="reason">

<!--     $(document).ready(function(){
      $('.percent').mask('##00%', {reverse: true});
    ); -->
  </p>
 

  <p>
    <%= v.submit %>
  </p>
<% end %>
